@model IEnumerable<csd412_final.Models.Notecards>

@{
    ViewData["Title"] = "Quiz";
}

<script>

let cards   = @Html.Raw(Json.Serialize(Model));
let counter = 0;

function shuffleArray(array) {
    for (var i = array.length - 1; i > 0; i--) {
        var j = Math.floor(Math.random() * (i + 1));
        var temp = array[i];
        array[i] = array[j];
        array[j] = temp;
    }
}

function showCard()
{
    let front = document.querySelector("#front");
    let back  = document.querySelector("#back");
    front.querySelector('#cardMainDisplay').innerHTML = cards[counter].question;
    back.querySelector('#itemsContainer').innerHTML   = "";

    cards[counter].decoys.push(cards[counter].answer)
    shuffleArray(cards[counter].decoys);

    for (let decoy of cards[counter].decoys)
    {
        let btn = document.createElement('button');

        if (decoy == cards[counter].answer)
            btn.onclick = () => onCorrect();
        else
            btn.onclick = () => onIncorrect();

        btn.innerHTML = decoy;
        back.querySelector('#itemsContainer').appendChild(btn);
    }
}

function toggleVisibility(elem)
{
    if (elem.style.display == 'none')
        return elem.style.display = 'block';
    elem.style.display = 'none';
}

function flipCard()
{
    let front = document.querySelector("#front");
    let back  = document.querySelector("#back");

    toggleVisibility(front);
    toggleVisibility(back);
}

function onCorrect()
{
    alert("Correct");
    counter += 1;
    showCard();
    flipCard();
}

function onIncorrect()
{
    alert("Incorrect");
}
</script>

<style>
.card
{
    background: #fdf7ef;
    box-shadow: 6px 6px 5px gray;
    width: 490px;
    height: 300px;
    padding: 5px;
}

.flipbutton
{
    width: 100px;
    position:absolute;
    bottom:0;
    right:0;
    background-color: rgba(79, 173, 201, 0.8);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>

<h1>Quiz</h1>

<div>
    <div class="card" id="front">
        <p id="cardMainDisplay"></p>
        <button class="flipbutton" onclick="flipCard()">Flip</button>
    </div><br>

    <div class="card" id="back" style="display: none;">
        <div id="itemsContainer"></div>
        <button class="flipbutton" onclick="flipCard()">Flip</button>
    </div><br>
</div>

<div>
    <a asp-controller="Collection" asp-action="Edit" asp-route-id="@this.ViewContext.RouteData.Values["collectionID"]">Back to Collection</a>
</div>

<script>
showCard();
</script>