@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Flashy</h1>
    <p>Welcome to Flashy! Flashy allows you to create and use notecards to enhance your studying.</p>

    <a asp-controller="Collection" asp-action="Create">Create</a>
    <a asp-controller="Collection" asp-action="Index" >Play</a>
</div>
